<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" style="text-align:center; margin-top: 50px;">
        <input name="text" size = '100' placeholder="write here caption to generate the image">
        <input type="submit" value = "Generate Image">
    </form>
    <h1 style="margin-top: 50px; margin-left: 40%">Generated Image</h1>
    <img src="static/newimage.jpg" alt="User Image" style="margin-top: 5%; margin-left: 40%" >
</body>
</html>